@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links li {
    margin-right: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.login-container {
    margin-left: 1rem;
}

.login-button {
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: #333;
    font-weight: 600;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 1rem;
    }

    .nav-links {
        margin-top: 1rem;
        justify-content: flex-start;
    }

    .nav-links li {
        margin-right: 0.5rem;
    }

    .login-container {
        margin-left: 0;
        margin-top: 1rem;
    }
}