.prepare-container {
    padding: 20px;
}

.prepare-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

.sections-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns with equal width */
    gap: 20px;
    /* Gap between sections */
}


.upload-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}