.prepare-heading {
    font-size: 24px;
    margin: 2rem;
}

.sections-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns with equal width */
    gap: 20px;
    /* Gap between sections */
    margin-left: 4rem;
}

.upload-section {
    flex: 1;
    /* Each section occupies equal space */
}